dookug-api/dookug-api-schema/src/main/resources/xsd/hu/icellmobilsoft/dookug/schemas/DOCUMENT/1.0/rest/documentgenerate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.dookug.icellmobilsoft.hu/DOCUMENT/1.0/rest/documentgenerate"
            xmlns:coffeeCommon="http://common.dto.coffee.icellmobilsoft.hu/common"
            xmlns:apiCommon="http://schemas.dookug.icellmobilsoft.hu/COMMON/1.0/common"
            xmlns:apiRestCommon="http://schemas.dookug.icellmobilsoft.hu/COMMON/1.0/rest/common"
            targetNamespace="http://schemas.dookug.icellmobilsoft.hu/DOCUMENT/1.0/rest/documentgenerate"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://schemas.dookug.icellmobilsoft.hu/COMMON/1.0/common"/>
    <xsd:import namespace="http://common.dto.coffee.icellmobilsoft.hu/common"/>
    <xsd:import namespace="http://schemas.dookug.icellmobilsoft.hu/COMMON/1.0/rest/common"/>

    <!-- SIMPLE TYPES -->
    <xsd:simpleType name="TemplateLanguageType">
        <xsd:annotation>
            <xsd:documentation>Template language</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="30"/>
            <xsd:pattern value="[A-Za-z_-]{2,30}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="GeneratorEngineType">
        <xsd:annotation>
            <xsd:documentation>Implementation of document generation according to a 3rd party library.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText15NotBlankType">
            <xsd:enumeration value="NONE">
                <xsd:annotation>
                    <xsd:documentation>Generate engine not used</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PDF_BOX">
                <xsd:annotation>
                    <xsd:documentation>Apache - PDFBox</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SAXON">
                <xsd:annotation>
                    <xsd:documentation>SAXON</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TemplateEngineType">
        <xsd:annotation>
            <xsd:documentation>Implementation of template management using third-party technology.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText15NotBlankType">
            <xsd:enumeration value="NONE">
                <xsd:annotation>
                    <xsd:documentation>Template engine not used</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="HANDLEBARS">
                <xsd:annotation>
                    <xsd:documentation>Extending Handlebars template syntax to include Mustache template syntax. More information: 
                        https://github.com/jknack/handlebars.java
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ResponseFormatType">
        <xsd:annotation>
            <xsd:documentation>Response object format type</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText15NotBlankType">
            <xsd:enumeration value="STRING">
                <xsd:annotation>
                    <xsd:documentation>Simple text</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PDF">
                <xsd:annotation>
                    <xsd:documentation>Pdf file</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TemplateStorageMethodType">
        <xsd:annotation>
            <xsd:documentation>Template storage method type</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText15NotBlankType">
            <xsd:enumeration value="DATABASE">
                <xsd:annotation>
                    <xsd:documentation>Templates are stored in database</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DocumentStorageMethodType">
        <xsd:annotation>
            <xsd:documentation>Method of storing document content</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText15NotBlankType">
            <xsd:enumeration value="NONE">
                <xsd:annotation>
                    <xsd:documentation>Document content not stored</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DATABASE">
                <xsd:annotation>
                    <xsd:documentation>Document content stored in the database</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DocumentMetadataQueryOrderByType">
        <xsd:annotation>
            <xsd:documentation>Type of document sorting</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText30NotBlankType">
            <xsd:enumeration value="FILENAME">
                <xsd:annotation>
                    <xsd:documentation>Name of document</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DOCUMENT_STORAGE_METHOD">
                <xsd:annotation>
                    <xsd:documentation>Storage method of document</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FORMAT">
                <xsd:annotation>
                    <xsd:documentation>Document format</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="STATUS">
                <xsd:annotation>
                    <xsd:documentation>Document status</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DocumentStatusType">
        <xsd:annotation>
            <xsd:documentation>Dokumentum status type</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="coffeeCommon:SimpleText30NotBlankType">
            <xsd:enumeration value="DONE">
                <xsd:annotation>
                    <xsd:documentation>The document generation and saving process has been successfully completed</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FAILED">
                <xsd:annotation>
                    <xsd:documentation>An error occurred while saving the document</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PENDING">
                <xsd:annotation>
                    <xsd:documentation>The document is pending for saving</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SYNCING">
                <xsd:annotation>
                    <xsd:documentation>The document is currently being saved</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- COMPLEX TYPES -->
    <xsd:complexType name="TemplateType">
        <xsd:annotation>
            <xsd:documentation>Template type</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="templateName" type="apiCommon:TemplateNameType">
                <xsd:annotation>
                    <xsd:documentation>Unique name of template</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="templateContent" type="xsd:base64Binary">
                <xsd:annotation>
                    <xsd:documentation>Template content</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="initial" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation>Is this the root element in the template structure?</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StoredTemplateType">
        <xsd:annotation>
            <xsd:documentation>Template type stored in the module</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="templateName" type="apiCommon:TemplateNameType">
                <xsd:annotation>
                    <xsd:documentation>Template name. Unique along with its language.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="templateLanguage" type="TemplateLanguageType">
                <xsd:annotation>
                    <xsd:documentation>Template language. Unique along with name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validityDate" type="coffeeCommon:TimestampType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The validity period of a given print request. The module needs to find a
                        template under the
                        specified name at this time. If not specified, it searches with the current
                        date.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataQueryOrderType">
        <xsd:annotation>
            <xsd:documentation>Document metadata sorting type</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="order" type="DocumentMetadataQueryOrderByType">
                <xsd:annotation>
                    <xsd:documentation>Sorting by column</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="coffeeCommon:OrderByTypeType">
                <xsd:annotation>
                    <xsd:documentation>Sorting type: ASC - Ascending, DESC - Descending</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- REQUEST/RESPONSE TYPES -->
    <xsd:complexType name="StoredTemplateDocumentGenerateRequestType">
        <xsd:annotation>
            <xsd:documentation>Request type for document generation using templates stored in the module</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="apiRestCommon:BaseRequestType">
                <xsd:sequence>
                    <xsd:element name="generatorSetup" type="StoredTemplateGeneratorSetupType">
                        <xsd:annotation>
                            <xsd:documentation>Generator settings</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="StoredTemplateGeneratorSetupType">
        <xsd:annotation>
            <xsd:documentation>Type of setting up generation using templates stored in the module</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BaseGeneratorSetupType">
                <xsd:sequence>
                    <xsd:element name="templateStorageMethod" type="TemplateStorageMethodType">
                        <xsd:annotation>
                            <xsd:documentation>Template storage method</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="template" type="StoredTemplateType">
                        <xsd:annotation>
                            <xsd:documentation>The main (root) template for generation</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataType">
        <xsd:annotation>
            <xsd:documentation>Type describing document metadata</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="documentId" type="coffeeCommon:EntityIdType">
                <xsd:annotation>
                    <xsd:documentation>Document identifier (DOCUMENT.X__ID)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storageMethod" type="DocumentStorageMethodType">
                <xsd:annotation>
                    <xsd:documentation>Document storage method</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filename" type="coffeeCommon:SimpleText100NotBlankType">
                <xsd:annotation>
                    <xsd:documentation>Document name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="format" type="ResponseFormatType">
                <xsd:annotation>
                    <xsd:documentation>Document format</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="DocumentStatusType">
                <xsd:annotation>
                    <xsd:documentation>Document status</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataQueryParamsType">
        <xsd:annotation>
            <xsd:documentation>Document metadata filtering parameters</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="templateId" type="coffeeCommon:EntityIdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document template identifer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storageMethod" type="DocumentStorageMethodType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document storage method</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storageId" type="coffeeCommon:SimpleText30NotBlankType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document storage id</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filename" type="coffeeCommon:SimpleText100NotBlankType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="format" type="ResponseFormatType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document format</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="DocumentStatusType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document status</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ParametersDataType">
        <xsd:annotation>
            <xsd:documentation>Complex type of parameters</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="templateParameters" type="xsd:base64Binary" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parameters required for the template engine as JSON</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="generatorParameters" type="xsd:base64Binary" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parameters required for the generator engine (e.g., SAXON)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
        
    <xsd:complexType name="BaseGeneratorSetupType">
        <xsd:annotation>
            <xsd:documentation>Setting up generation type</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="generatorEngine" type="GeneratorEngineType">
                <xsd:annotation>
                    <xsd:documentation>Generator library</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="templateEngine" type="TemplateEngineType">
                <xsd:annotation>
                    <xsd:documentation>Template engine</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="responseFormat" type="ResponseFormatType">
                <xsd:annotation>
                    <xsd:documentation>Format of the result</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="digitalSignatureProfile" type="coffeeCommon:SimpleText64NotBlankType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The signer profile configured within the module</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentStorageMethod" type="DocumentStorageMethodType">
                <xsd:annotation>
                    <xsd:documentation>Document storage method</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="parameters" type="apiCommon:ParameterType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Parameter list used during generation for the template engine</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="parametersData" type="ParametersDataType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Complex type of parameters used during generation</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InlineGeneratorSetupType">
        <xsd:annotation>
            <xsd:documentation>Setting type for inline generation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BaseGeneratorSetupType">
                <xsd:sequence>
                    <xsd:element name="templateLanguage" type="TemplateLanguageType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>In the case of inline requests, the document language defaults to Hungarian</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DocumentGenerateRequestType">
        <xsd:annotation>
            <xsd:documentation>Document generation request type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="apiRestCommon:BaseRequestType">
                <xsd:sequence>
                    <xsd:element name="generatorSetup" type="InlineGeneratorSetupType">
                        <xsd:annotation>
                            <xsd:documentation>Generator settings</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DocumentGenerateWithTemplatesRequestType">
        <xsd:annotation>
            <xsd:documentation>Document geenration with templates request type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="apiRestCommon:BaseRequestType">
                <xsd:sequence>
                    <xsd:element name="generatorSetup" type="InlineGeneratorSetupType">
                        <xsd:annotation>
                            <xsd:documentation>Generator settings</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="templates" type="TemplateType" maxOccurs="10">
                        <xsd:annotation>
                            <xsd:documentation>Template contents</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataResponseType">
        <xsd:annotation>
            <xsd:documentation>Document metadata response type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="apiRestCommon:BaseResponseType">
                <xsd:sequence>
                    <xsd:element name="metadata" type="DocumentMetadataType">
                        <xsd:annotation>
                            <xsd:documentation>Document metadata</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataQueryRequestType">
        <xsd:annotation>
            <xsd:documentation>Querying document metadata request type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="apiRestCommon:BaseRequestType">
                <xsd:sequence>
                    <xsd:element name="paginationParams" type="coffeeCommon:QueryRequestDetails" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Pagination parameters</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="queryOrders" type="DocumentMetadataQueryOrderType" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Query order settings</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="queryParams" type="DocumentMetadataQueryParamsType">
                        <xsd:annotation>
                            <xsd:documentation>Query filter settings</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DocumentMetadataQueryResponseType">
        <xsd:annotation>
            <xsd:documentation>Querying document metadata response type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="apiRestCommon:BaseResponseType">
                <xsd:sequence>
                    <xsd:element name="paginationParams" type="coffeeCommon:QueryResponseDetails">
                        <xsd:annotation>
                            <xsd:documentation>Pagination parameters</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rowList" type="DocumentMetadataType" minOccurs="0" maxOccurs="100">
                        <xsd:annotation>
                            <xsd:documentation>Document metadata list</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- REQUEST/RESPONSE ELEMENTS -->
    <xsd:element name="DocumentGenerateRequest"> 
        <xsd:annotation>
            <xsd:documentation>Document generation request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="DocumentGenerateRequestType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="DocumentGenerateWithTemplatesRequest"> 
        <xsd:annotation>
            <xsd:documentation>Document generation with templates request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="DocumentGenerateWithTemplatesRequestType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="StoredTemplateDocumentGenerateRequest"> 
        <xsd:annotation>
            <xsd:documentation>Document generation using templates stored in the module request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="StoredTemplateDocumentGenerateRequestType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="DocumentMetadataQueryRequest">
        <xsd:annotation>
            <xsd:documentation>Document metadata query request</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="DocumentMetadataQueryRequestType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="DocumentMetadataResponse">
        <xsd:annotation>
            <xsd:documentation>Document metadata response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="DocumentMetadataResponseType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="DocumentMetadataQueryResponse">
        <xsd:annotation>
            <xsd:documentation>Document metadata query response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="DocumentMetadataQueryResponseType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
